---
layout: base
title: Massachusetts Park
---

<ul class="park-container">
  {% for park in collections.parks %}
    <li>
      <figure>
        <img src="{{ park.data.img }}" alt="{{ park.data.caption }}">
        <figcaption>{{ park.data.caption }}</figcaption>
      </figure>
      <a href="{{ park.url }}">
        <h1>{{ park.data.title }}</h1>
      </a>

      <p>{{ park.data.description }}</p>
    </li>
  {% endfor %}
</ul>



<!--
{% for data in park.images %}
<img src="{{ data.url }}" alt="{{ park.fullName }}">
{% endfor %}
-->